.page_content{
   min-height: 150%;
}

.resource_title{

}

.resource-data{
    margin-top: 3%;
}

.resource_description{
    margin-left: 0%;
}

footer{
    background-color: #ff3333;
    margin-top: 5%;
    height: 20%;
    margin-bottom: 0px;
}
footer a{
    color: #FFFFFF;
}